{
  "network": "tcp",
  "security": "reality",
  "realitySettings": {
    "show": false,
    "dest": "${REALITY_SNI}:443",
    "xver": 0,
    "serverNames": ["${REALITY_SNI}"],
    "privateKey": "${REALITY_PRIVKEY}",
    "shortIds": ["${REALITY_SHORT_ID}"],
    "settings": {
      "publicKey": "${REALITY_PUBKEY}",
      "fingerprint": "chrome",
      "serverName": "${REALITY_SNI}",
      "spiderX": "/"
    }
  }
}
